
@model LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <i class="fas fa-user text-secondary" style="font-size:80px;margin:50px"></i>
            </div>
            <!-- Login Form -->

            <form asp-action="Login" method="post">

                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />


                <label asp-for="Email"></label><br />
                <input asp-for="Email" class="fadeIn second" />

                <label asp-for="Password"></label>
                <input asp-for="Password" class="fadeIn third" />


                <button type="submit" class="btn btn-primary m-4">Giriş</button>

                <div id="formFooter">
                    <a class="underlineHover" asp-action="Create" asp-controller="User" asp-area="Views">Hesabım yok</a>
                </div>

            </form>
        </div>
    </div>
    <script src="~/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/modules/jquery/dist/jquery.min.js"></script>
</body>
</html>

