@model EExpress.Models.RegisterModel
@{
    ViewData["Title"] = "CreateUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="CreateUser" asp-controller="Home" asp-area="Admin" method="post">

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />

    </div>


    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />

    </div>


    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />

    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />

    <a asp-action="Users" asp-controller="Home" asp-area="Admin" class="btn btn-warning">Geri Dön</a>
</form>
